body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    width:  1050px;
    height: 750px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
}

.wall {
    background-color: rgb(55, 186, 230);
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.space {
    background-color: rgb(238, 209, 172);
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.start {
    background-color: green;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.finish {
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.box {
    background-color: purple;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}